:root {
    --page-max-width: 1280px;
    --list-max-width: 980px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    background: url("./assets/blackwallpaper.png") fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.page-wrapper {
    position: relative;
    background: url("./assets/greywallpaper.png") repeat-y center top;
    min-width: var(--page-max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

/* index.html */
/* Logo */
.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background: #e2350d;
}

.logo-wrapper a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.pokeball-logo {
    margin: 0 10px;
    width: 40px;
}

/* Search Bar */
.search-wrapper {
    padding: 10px 0;
    width: 100%;
    background: #313131;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-font {
    color: white;
    font-size: 40px;
}

.search-container {
    padding: 5px 15px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 25px;
    width: 300px;
    height: 40px;
    display: flex;
    box-sizing: border-box;
}

.search-input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}

/* Pokemon List */
.list-background {
    display: flex;
    justify-content: center;
}

.list-wrapper {
    width: 100%;
    max-width: var(--list-max-width);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
    padding: 10px 20px 20px 20px;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
}

.pokemon-list img {
    width: 100%;
}

.not-found-message {
    text-align: center;
    font-size: 30px;
    display: none;
}

.load-button {
    width: 200px;
    border: none;
    color: white;
    padding: 10px 25px;
    margin-top: 20px;
    background: #87CEEB;
    border-radius: 10px;
    font-size: 20px;
}

.load-button:hover {
    background: #7cbed8;
    cursor: pointer;
}

/* Pokemon Wrap */
.pokemon-wrap {
    padding: 15px 15px 0 15px;
}

.img-wrap {
    background-image: url("./assets/pokeball.png");
    background-size: contain;
    background-position: center;
}

.name-id-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-name-font {
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
}

.pokemonID-font {
    padding: 5px 5px 0;
}

.type-wrap {
    display: flex;
    justify-content: center;
}

.list-type {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 100px;
    font-size: 20px;
    border-radius: 30px;
    text-transform: capitalize;
    color: white;
}

/* detail.html*/

/* NAVIGATION */
.navigation-wrapper {
    background: #313131;
    height: 106px;
    width: 100%;
    display:flex;
    justify-content: center;
}

.prev-pokemon,
.next-pokemon {
    color: white;
    display: flex;
    align-items: center;
    width: calc(var(--list-max-width)/2);
    text-decoration: none;
}

.prev-pokemon {
    justify-content: start;
    border-right: 2px solid white;
}

.next-pokemon {
    justify-content: end;
    border-left: 2px solid white;
}

.bx {
    margin: 0 10px;
    font-size: 40px;
}

.prev-text,
.next-text {
    margin: 10px 10px;
    font-size: 40px;
    text-transform: capitalize;
}

/* TITLE */
.pokemon-title {
    max-width: var(--list-max-width);
    display: flex;
    justify-content: center;
    background: white;
    width: 100%;
}

.pokemon-name,
.pokemon-id {
    margin: 0;
    padding: 10px;
    font-size: 40px;
}

.pokemon-name {
    font-weight: bold;
}

.pokemon-id {
    color: #606068;
}

/* INFO */
.pokemon-content {
    background: white;
    max-width: var(--list-max-width);
    display: flex;
    width: 100%;
    flex-grow: 1;
}

/* Left Content */
.left-content{
    padding: 0 20px 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-img {
    width: 100%;
    background: lightgray;
    border-radius: 10px;
}

/* Stats */
.stats-wrapper {
    margin-top: 20px;
    padding: 5px 0;
    width: 100%;
    border-radius: 10px;
    background: #949494;
}

.stats-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.stat-name {
    margin: 0;
    padding: 2px;
    width: 120px;
    font-size: 25px;
    text-align: right;
}

.stat-value {
    margin: 0;
    padding: 0 10px;
    font-size: 25px;
}

.stat-bar {
    padding-left: 5px;
    flex-grow: 0.8;
}

.stat-bar::-webkit-progress-value {
    border-radius: 30px;
}

progress {
    -webkit-appearance: none;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

.cat1::-webkit-progress-value{
    background-color:#f04545;
}
.cat2::-webkit-progress-value{
    background-color:#ff800e;
}
.cat3::-webkit-progress-value{
    background-color:#ffdd55;
}
.cat4::-webkit-progress-value{
    background-color:#a0e519;
}
.cat5::-webkit-progress-value{
    background-color:#23cc5e;
}
.cat6::-webkit-progress-value{
    background-color:#03c2ba;
}


/* Right Content */
.right-content {
    padding: 100px 20px 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.pokemon-description {
    font-size: 25px;
    padding: 10px;
}

/* Info */
.info-wrapper  {
    padding: 10px;
    background: #31a7d7;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.info-titles {
    color: white;
    font-size: 25px;
}

.pokemon-height,
.pokemon-weight,
.pokemon-ability {
    font-size: 25px;
    text-transform: capitalize;
}

/* Typings */
.typing-wrapper, .weakness-wrapper {
    padding: 10px;
}

.type-title, .weakness-title {
    font-size: 25px;
    font-weight: bold;
}

.typing-wrap,
.weakness-wrap {
    display: flex;
    flex-wrap: wrap;
}

.type,
.weakness {
    margin: 5px;
    font-size: 25px;
    text-align: center;
    border-radius: 30px;
    text-transform: capitalize;
    color: white;
    width: 100px;
    height: 30px;
}

.normal {background: #A8A878}
.fire {background: #F08030}
.water {background: #6890F0}
.electric {background: #F8D030}
.grass {background: #78C850}
.ice {background: #98D8D8}
.fighting {background: #C03028}
.poison {background: #A040A0}
.ground {background: #E0C068}
.flying {background: #A890F0}
.psychic {background: #F85888}
.bug {background: #A8B820}
.rock {background: #B8A038}
.ghost {background: #705898}
.dragon {background: #7038F8}
.dark {background: #705848}
.steel {background: #B8B8D0}
.fairy {background: #EE99AC}

@media only screen and (max-width: 425px) {
    :root {
        --page-max-width: 426px;
        --list-max-width: 300px;
    }

    .page-wrapper {
        background: white;
    }

    /* index.html */
    .pokemon-list {
        display: flex;
        grid-template-columns: unset;
        flex-direction: column;
        cursor: pointer;
    }

    /* detail.js */

    /* NAVIGATION */
    .prev-pokemon,
    .next-pokemon {
        width: 50%;
        justify-content: center;
    }

    .prev-pokemon {
        flex-direction: column-reverse;
        align-items: end;
    }

    .next-pokemon {
        flex-direction: column;
        align-items: start;
    }

    .bx,
    .prev-text,
    .next-text {
        font-size: 25px;
    }

    /* POKEMON CONTENT */
    .pokemon-name,
    .pokemon-id {
        font-size: 30px;
    }

    .left-content,
    .right-content {
        width: 100%;
        padding: 0 10px;
    }

    /* RIGHT CONTENT */
    .pokemon-content {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .info-wrapper {
        flex-direction: column;
    }

    .height-wrapper,
    .weight-wrapper,
    .ability-wrapper {
        margin: 5px;
    }

    .type-title,
    .weakness-title {
        text-align: center;
    }

    .typing-wrap,
    .weakness-wrap {
        justify-content: center;
    }
}