:root {
    --page-max-width: 1280px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    background: url("./assets/blackwallpaper.png") fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.page-wrapper {
    position: relative;
    background: url("./assets/greywallpaper.png") repeat-y center top;
    background-size: auto;
    min-width: var(--page-max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

/* Logo */
.logo-wrapper {
    width: 100%;
    background: #e2350d;
}

.logo-wrapper a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.pokeball-logo {
    margin: 0 10px;
    width: 40px;
}

/* Search Bar */
.search-wrapper {
    padding: 10px 0;
    width: 100%;
    background: #313131;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-font {
    color: white;
    font-size: 40px;
}

.search-container {
    padding: 5px 15px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 25px;
    width: 300px;
    height: 40px;
    display: flex;
    box-sizing: border-box;
}

.search-input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}

/* Pokemon List */
.list-background {
    display: flex;
    justify-content: center;
}

.list-wrapper {
    width: 100%;
    max-width: 980px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 10px 20px 20px 20px;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
}

.pokemon-list img {
    width: 100%;
}

.not-found-message {
    text-align: center;
    font-size: 30px;
}


/* Load Button */
.load-button {
    width: 200px;
    border: none;
    color: white;
    padding: 10px 25px;
    margin-top: 20px;
    background: skyblue;
    border-radius: 25px;
}

.load-button:hover {
    background: darkblue;
    cursor: pointer;
}

/* Pokemon Wrap */
.pokemon-wrap {
    padding: 15px 15px 0 15px;
}

.img-wrap {
    background-image: url("./assets/pokeball.png");
    background-size: contain;
    background-position: center;
}

.name-id-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-name-font {
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
}

.pokemonID-font {
    padding: 5px 5px 0;
}

.type-wrap {
    display: flex;
    justify-content: center;
}

.list-type {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 100px;
    font-size: 20px;
    border-radius: 30px;
    text-transform: capitalize;
    color: white;
}

/* detail.html specific styling*/
.navigation-wrapper {
    background: #313131;
    width: 100%;
    display:flex;
    align-items: center;
}

.previous-wrapper {
    border: 2px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:50%;
    text-decoration: none;
}

.next-wrapper {
    border: 2px solid white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:50%;
    text-decoration: none;
}

.previous-text,
.next-text {
    font-size: 250%;
    color: white;
    text-transform: capitalize;
}

.arrows {
    padding: 1rem;
    width: 2rem;
}

.detail-content {
    margin: auto;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 980px;
    height: 100%;
    width: 100%;
}

.name-id-wrap {
    display: flex;
}

.pokemon-name {
    margin: 0;
    padding: 0.5rem;
    font-size: 250%;
    font-weight: bold;
}

.pokemon-id {
    margin: 0;
    padding: 0.5rem;
    font-size: 250%;
    color: #606068;
}

.stats-facts-wrapper {
    display: flex;
}

.img-and-stats {
    padding-right: 1rem;
    max-width: 490px;
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.fact-wrapper {
    padding-left: 1rem;
    max-width: 490px;
    width: 50%;
}

.stats-wrapper {
    margin-top: 1rem;
    padding: 0.5rem 0;
    width: 100%;
    border-radius: 10px;
    background: #949494;
}

.stats-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.stat-name {
    margin: 0;
    padding: .25rem;
    width: 5rem;
    font-size: 150%;
    text-align: right;
}

.stat-value {
    margin: 0;
    padding: 0 0.5rem;
    font-size: 150%;
}

progress {
    -webkit-appearance: none;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

.stat-bar {
    padding-left: 0.5rem;
    flex-grow: 0.8;
}

.stat-bar::-webkit-progress-value {
    border-radius: 30px;
}

.cat1::-webkit-progress-value{
    background-color:#f04545;
}
.cat2::-webkit-progress-value{
    background-color:#ff800e;
}
.cat3::-webkit-progress-value{
    background-color:#ffdd55;
}
.cat4::-webkit-progress-value{
    background-color:#a0e519;
}
.cat5::-webkit-progress-value{
    background-color:#23cc5e;
}
.cat6::-webkit-progress-value{
    background-color:#03c2ba;
}

.pokemon-img-wrapper {
    background: #f2f2f2;
    border-radius: 10px;
    width: 100%;
}

.pokemon-img {
    width: 100%;
}

.pokemon-description {
    font-size: 150%;
    padding: 0 1rem 1rem;
}

.info-wrapper  {
    background: #31a7d7;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
}

.info-titles {
    margin: 0;
    color: white;
    font-size: 150%;
}

.height-wrapper
{
    padding-bottom: 1rem;
}

.ability-wrapper {
    margin: 0 auto;
}

.pokemon-height,
.pokemon-weight,
.pokemon-ability {
    margin: 0;
    padding-top: 0.3rem;
    font-size: 150%;
    text-transform: capitalize;
}

.typing-wrapper, .weakness-wrapper {
    padding: 1rem 1rem;
}

.type-title, .weakness-title {
    font-size: 150%;
    font-weight: bold;
}

.typing-wrap {
    display: flex;
    flex-wrap: wrap;
}

.type, .weakness {
    margin: 1rem 1rem 0 0;
    font-size: 150%;
    padding-top: 5px;
    text-align: center;
    border-radius: 30px;
    text-transform: capitalize;
    color: white;
    width: 100px;
    height: 30px;
}

.weakness-wrap {
    display: flex;
    flex-wrap: wrap;
}


.normal {background: #A8A878}
.fire {background: #F08030}
.water {background: #6890F0}
.electric {background: #F8D030}
.grass {background: #78C850}
.ice {background: #98D8D8}
.fighting {background: #C03028}
.poison {background: #A040A0}
.ground {background: #E0C068}
.flying {background: #A890F0}
.psychic {background: #F85888}
.bug {background: #A8B820}
.rock {background: #B8A038}
.ghost {background: #705898}
.dragon {background: #7038F8}
.dark {background: #705848}
.steel {background: #B8B8D0}
.fairy {background: #EE99AC}

@media only screen and (max-width: 600px) {
}